.background {
    -fx-background-color: derive(#FCFEF5,20%);
}

.pane  {
    -fx-background-color: derive(#FCFEF5,20%);
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1C140D;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1C140D;
    -fx-opacity: 1;
}


.table-view {
    -fx-base: #FDFDF9;	
    -fx-control-inner-background: #FDFDF9;
    -fx-background-color: #FDFDF9;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1C140D;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #FA6900;
}


.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1C140D transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1C140D,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#FDFDF9,20%);
}

.context-menu {
    -fx-background-color: derive(#FDFDF9,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #1C140D;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-border-color: #E0E4CC;
    -fx-border-width: 1.5;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.password-field{
    -fx-border-color: #E0E4CC;
    -fx-border-width: 1.5;
    -fx-font-size: 12pt;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #1C140D;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #69D2E7;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #1C140D;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    
}

.button:hover {
    -fx-background-color: #F38630;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #FA6900;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
    
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #FFFEE4;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(#FDFDF9,20%);;
    -fx-border-radius: 0;
    -fx-border-insets: 1 1 1 1, 0;

}
.tab-pane .tab
{
    -fx-background-color: derive(#FFFEE4,20%);;

}

.tab-pane .tab:selected
{
    -fx-background-color: derive(#FFFEE4,20%);;
    -fx-text-fill: #1C140D;
    
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #1C140D;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #1C140D;
}

.choice-box {
	-fx-background-color: #FDFDF9;
    -fx-padding: 3 10 4 20;
    -fx-text-fill: #1C140D;
    -fx-font-size: 9px;
}