/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-jul-2016, 21:18:05
    Author     : INTEL
*/

.background {
    -fx-background-color: #e6ffe6;
    -fx-background-color: rgba(73,155,234,1);
    -fx-background-color: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 2%, rgba(193,232,245,1) 100%);
    -fx-background-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(2%, rgba(73,155,234,1)), color-stop(100%, rgba(193,232,245,1)));
    -fx-background-color: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 2%, rgba(193,232,245,1) 100%);
    -fx-background-color: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 2%, rgba(193,232,245,1) 100%);
    -fx-background-color: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 2%, rgba(193,232,245,1) 100%);
    -fx-background-color: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 2%, rgba(193,232,245,1) 100%);
    -fx-background-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#c1e8f5', GradientType=1 );
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Verdana", Geneva, sans-serif;
    -fx-text-fill: #000000;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Verdana", Geneva, sans-serif;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 20pt;
    -fx-font-family: "Verdana", Geneva, sans-serif;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.button {
    -fx-padding: 4 20 2 20;   
    -fx-border-color: #3300ff;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #9999ff;
    -fx-font-family: "Verdana", Geneva, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}